<!-- quiz/templates/quiz/quiz.html -->
<form method="POST" action="{% url 'submit_quiz' %}">
    {% csrf_token %}
    <h1>Quiz Time!</h1>
    {% for question in questions %}
        <div>
            <p>{{ question.text }}</p>
            <input type="radio" name="question_{{ question.id }}" value="{{ question.option1 }}"> {{ question.option1 }}<br>
            <input type="radio" name="question_{{ question.id }}" value="{{ question.option2 }}"> {{ question.option2 }}<br>
            <input type="radio" name="question_{{ question.id }}" value="{{ question.option3 }}"> {{ question.option3 }}<br>
            <input type="radio" name="question_{{ question.id }}" value="{{ question.option4 }}"> {{ question.option4 }}<br>
        </div>
    {% endfor %}
    <button type="submit">Submit Quiz</button>
</form>
